/* NAVBAR -------------------------------------------------------------------------------------------------------- */

body {
    background-image: url('/images/body_trans_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mz-brand-logo {
    margin-left: 10px;
}

/* INDEX -------------------------------------------------------------------------------------------------------- */

#indexCardTitle {
    color: white;
    mix-blend-mode: difference;
    font-weight: bold;
}

.mz-content {
    padding: 10px;
}

.mz-card {
    margin: auto;
    width: 70%;
}

@media all and (max-width: 600px) {
    .card {
        width: 80%;
    }
}

/* FORMS -------------------------------------------------------------------------------------------------------- */

.mz-form-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 16px;
    background-color: white;
}

/* On mouse-over, add a deeper shadow */
.mz-form-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
