<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Donde me quede</title>
</head>

<div class="nav-container mb-3" th:fragment="navbar">
    <ul id="profile-dropdown" class="dropdown-content">
        <li><a href="/profile" class="dropdown-item dropdown-profile"><i class="fas fa-user mr-3"></i> Profile</a></li>
        <li class="nav-item"><a th:href="@{/logout}">Cerrar sesion</a></li>
    </ul>

    <nav id="navbar-nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Donde me quede</a>

            <ul sec:authorize="!isAuthenticated()" id="nav-mobile" class="right hide-on-med-and-down">
                <li class="nav-item"><a th:href="@{/oauth2/authorization/auth0}"><span th:text="#{login}"></span></a></li>
                <li class="nav-item"><a th:href="@{/users/signup}"><span th:text="#{signup}"></span></a></li>
            </ul>

            <ul sec:authorize="isAuthenticated()" id="nav-mobile" class="right hide-on-med-and-down">
                <li class="nav-item"><a th:href="@{/books}">Lecturas</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="profile-dropdown">
                    <span th:text="${profile.get('nickname')}"></span>
                    <i class="material-icons right">arrow_drop_down</i>
                </a></li>
            </ul>
        </div>
    </nav>
</div>
</html>