<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scripts</title>
</head>

<section th:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        const EMPTYFN = () => {
        }

        const EMPTY_AUTOCOMPLETE = {on: EMPTYFN, autocomplete: EMPTYFN, val: EMPTYFN}
        const EMPTY_TIMEPICKER = {timepicker: EMPTYFN}


        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();

            let tp = $('.timepicker') || EMPTY_TIMEPICKER // initialize all timepickers
            tp.timepicker({twelveHour: false, defaultTime: '00:00'})


            // initialize create reading title autocomplete
            let crt = $('#create-reading-title') || EMPTY_AUTOCOMPLETE
            let searchTimeoutHandle = 0
            let suggestions = {}
            crt.on('input', function () {
                const titleRawVal = $(this).val()
                console.log("Title is ", titleRawVal)

                /* On every char input, clear search timeout */
                window.clearTimeout(searchTimeoutHandle)

                /* If input longer than 3 chars -> queue suggestion search */
                if (titleRawVal.length >= 3) {
                    searchTimeoutHandle = window.setTimeout(function () {
                        console.log("Looking suggestions for ", titleRawVal)
                        const url = `/suggestions/${titleRawVal}`

                        fetch(url).then(response => response.json()).then(data => {
                            console.log("Suggestions found: ", data)
                            const inputSuggestions = {}
                            data.forEach(v => {
                                inputSuggestions[v.title] = null // populate input suggestions with null img
                                suggestions[v.title] = v.pageid // building a title->pageid map
                            })
                            crt.autocomplete({data: inputSuggestions})
                            crt.autocomplete('open') // force autocomplete display suggestions
                        })

                    }, 1500)
                }
            }) // end of #create-reading-title input event

            crt.on("change", function () {
                const titleRawVal = $(this).val()
                console.log('Title value changed to ', titleRawVal)
                const pageid = suggestions[titleRawVal] || 0
                console.log('Page id is ', pageid)
                $("#create-reading-pageid").val(pageid)
            }) // end of #create-reading-title change event
        })
    </script>
</section>

</html>