<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scripts</title>
</head>

<section th:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        const EMPTY_FUNC = () => {
        }

        function httpGetAsync(theUrl, callback) {
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }

        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();

            let tp = $('.timepicker') || {timepicker: EMPTY_FUNC}; // initialize all timepickers
            tp.timepicker({twelveHour: false, defaultTime: '00:00'});

            // initialize create reading title autocomplete
            let crt = $('#create-reading-title') || {on: EMPTY_FUNC, autocomplete: EMPTY_FUNC, val: EMPTY_FUNC}
            let searchAvailable = true // flag to avoid performing many searches at once
            let searchTimeout = null
            crt.on('input', function () {
                const titleRawVal = $(this).val()
                console.log("Title is ", titleRawVal)

                if (titleRawVal.length >= 3 && searchAvailable) {
                    searchAvailable = false
                    console.log("Looking suggestions for ", titleRawVal)
                    httpGetAsync(`/suggestions/${titleRawVal}`, function (data) {
                        console.log("Suggestions found: ", data);
                        const suggestions = {}
                        JSON.parse(data).forEach(v => suggestions[v] = null)
                        crt.autocomplete({data: suggestions})
                        crt.autocomplete('open')
                        searchAvailable = true
                    })
                }
            })
        })
    </script>
</section>

</html>