<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}"
      xmlns:th="http://www.thymeleaf.org">

<div id="page" layout:fragment="content">

    <div class="mz-content">
        <div class="card mz-card">
            <div class="card-image">
                <img th:src="@{/images/index_one_piece.png}" alt="One_piece">
                <span class="card-title">Agendar lecturas</span>
            </div>
            <div class="card-content">
                <p>Usando DONDE ME QUEDE podes facilmente dejar marcadores online de tus lecturas. ¿En que capitulo me quede la ultima vez que lei
                    ONE PIECE y que estaba pasando? No hay problema, podes dejar referencias de todos tus libros, mangas, novelas, series y consultarlos
                    despues por titulo y calendario.</p>
            </div>
            <div class="card-action">
                <a href="#">Agendar una lectura</a>
            </div>
        </div>
    </div>

</div>

</html>