<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}"
      xmlns:th="http://www.thymeleaf.org">

<div id="page" layout:fragment="content">

    <!--    main content div-->
    <div class="mz-content">

        <div class="reading-card" th:each="reading : ${readings}">
            <div class="reading-card-img">
                <img th:src="@{/images/img_avatar.png}" alt="Avatar"/>
            </div>
            <div class="reading-card-img">
                <img th:src="@{/images/img_avatar2.png}" alt="Avatar"/>
            </div>

            <div class="reading-card-container">
                <h4><b th:text="${reading.titleName}">Title</b></h4>
                <p><span>Chapter </span><span th:text="${reading.chapter}">Last episode</span></p>
                <p th:if="${reading.time}"><span>Time </span><span th:text="${reading.time}">Hour:Minute</span></p>
            </div>
        </div>

    </div>
    <!-- end of mz-content-->
</div>

</html>